[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
transformers = "*"
datasets = "*"
tiktoken = "*"
wandb = "*"
tqdm = "*"
acids-rave = "*"
torch = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
